.top{
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter{
    flex: 6;
}

.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topList{
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0;
 padding: 0;
}

.topList_item{
    margin-right: 20px;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
}

.topSearchIcon{
    cursor: pointer;
    color: #666;
    font-size: 18px;
    margin-left: 15px;
}
