.top{
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.top-Left, .top-Right{
    flex: 3;
    background-color: brown;
}

.top-Center{
    flex: 6;
}